html, body {
  display: flex;  
  height: 100%;
}

body, #root {
  flex: 1;
  padding: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#23395b, #30343f);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

